<table>
    <tr class="header">
        <th *ngFor="let item of displayedColumns">{{item}}</th>
    </tr>
    <tr *ngFor="let item of dataSource; let i = index" class="body">
        <td>{{i+1}}</td>
        <td>
            <div class="name">
                <p>
                    {{item.name}}
                </p>
                <ul>
                    <li *ngFor="let badge of item.badge">
                        <app-badge [color]="badge.color" [matTooltip]="badge.name"
                            aria-label="Button that displays a tooltip when focused or hovered over"></app-badge>
                    </li>
                </ul>
            </div>
        </td>
        <td class="actions">
            <app-icon-button icon="add" (click)="openDialogService.open(component, item)"></app-icon-button>
            <app-icon-button icon="delete" (click)="delete(i)"></app-icon-button>
        </td>
    </tr>
</table>