<app-header title="Angular List"></app-header>

<section class="container">
    <app-card>
        <h1>Add something to your list</h1>
        <form [formGroup]="form" (ngSubmit)="submit(form)">
            <app-text-input label="Add here..." type="text" [formControlExist]="true" controlName="add"></app-text-input>
            <app-button type="submit" text="Submit"></app-button>
        </form>
    </app-card>
    <div>
        <p>Length: {{arr.length}}</p>
    </div>
    <div class="input-holder">
        <app-search-input placeholder="Pesquisar" (filter)="gettingEvent($event)"></app-search-input>
        <div>
            <app-icon-button icon="add" (click)="openDialogService.open(component)"></app-icon-button>
        </div>
    </div>
    <app-table [dataSource]="arr"></app-table>
</section>
